{% load i18n sekizai_tags %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tweet.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function ($) {
    $('#twitter-container-{{ object.pk }}').tweet({
        username: '{{ object.twitter_user }}',
        avatar_size: null,
        count: {{ object.count }},
        join_text: '',
        template: "{text}{time}",
        auto_join_text_default: '{% trans "we said," %}',
        auto_join_text_ed: '{% trans "we" %}',
        auto_join_text_ing: '{% trans "we were" %}',
        auto_join_text_reply: '{% trans "we replied to" %}',
        auto_join_text_url: '{% trans "we were checking out" %}',
        loading_text: '{% trans "loading tweets..." %}'
        // this replaces twitter_search.html
        {% if object.query %},query: '{{ object.query }}'{% endif %}
    });
});
//]]>
</script>
{% endaddtoblock %}
<div class="tbox twitter-plugin">
    <h2><a href="https://www.twitter.com/{{ object.twitter_user }}" class="twitter-icon">{{ object.title }}</a></h2>
    <div id="twitter-container-{{ object.pk }}"></div>
    {% if object.twitter_user %}<p><a href="https://www.twitter.com/{{ object.twitter_user }}" class="twitter-link">{{ object.link_hint }}</a></p>{% endif %}
</div>
