{% extends "site_base.html" %}
{% block bodycls %}proposal-form{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
{% endblock %}
{% load i18n crispy_forms_tags %}
{% block title %}{% trans "Submit a proposal" %}{% endblock %}
{% block body %}
<h1>{% trans "Submit a proposal" %}</h1>
{% crispy form %}
{% endblock %}