aside {
    .tweet_list {
        list-style: none;
        margin-left: 0;
        li {
            padding: 5px 10px;
            margin-top: 15px;
            &:first-child {
                margin-top: 0px;
            }
        }
        .tweet_time {
            margin-top: 5px;
            display: block;
            text-align: right;
            font-size: 80%;
            font-style: italic;
        }
    }
    .plugin_link {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        a {
            #gradient > .vertical(@yellow, darken(@yellow, 10));
            .border-radius(5px);
            padding: 10px;
            font-size: 115%;
            display: block;
            color: white;
            font-weight: bold;
            text-decoration: none;
            &:hover {
                background: @yellow;
            }
        }
    }

    .plugin_googlemap {
        margin-bottom: 10px;
        h2 {
            background: #FFF;
            padding: 6px 10px;
        }
    }
}