{% extends "site_base.html" %}
{% load i18n %}
{% block title %}{{ object.title }} - {% trans "News" %}{% endblock %}
{% block content %}
<h1>{{ object.title }}</h1>
<span class="blog-date">{{ object.pub_date|date:"DATE_FORMAT" }}</span>
<div class="body">
    {{ object.content|safe }}
</div>
{% endblock %}
