{% load sekizai_tags menu_tags compress event_tags %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html lang="de" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="de" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="de" class="no-js ie8"><![endif]-->
<!--[if IE 9]><html lang="de" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="de" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1024" initial-scale=1.0">
    <title>{% block title %}Willkommen{% endblock %} - PyCon DE 2012 - 2. Deutsche Python-Konferenz</title>
    <meta name="author" content="Python Software Verband e.V.">
    <meta name="keywords" content="{% block meta_keywords %}Python, Pycon, Python Konferenz, Konferenz{% endblock %}">
    <meta name="description" content="{% block meta_description %}Die deutschsprachige Python-Konferenz PyCon DE findet vom 29.10. bis 03.11.2012 zum zweiten Mal in Leipzig statt.{% endblock %}">
    <meta property="og:title" content="PyCon DE 2012 - 2. Deutsche Python-Konferenz" />
    <meta property="og:site_name" content="PyCon DE 2012" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://{{ request.get_host }}/" />
    <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}images/logo-facebook.jpg" />
    <meta property="og:description" content="Die deutschsprachige Python-Konferenz PyCon DE findet vom 29.10. bis 03.11.2012 zum zweiten Mal in Leipzig statt." />
    <link rel="alternate" href="/news/feed/" type="application/atom+xml" title="PyCon DE 2012-News" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    
    {% if debug %}
        <link rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/less-1.3.0.min.js"></script>
    {% endif %}
    {% compress css %}
        {% if not debug %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/style.less" />
        {% endif %}
    {% endcompress %}

    {% render_block "css" %}

    {% compress js %}
    <script src="{{ STATIC_URL }}js/modernizr-2.0.6.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    {% endcompress %}
    {% render_block "js" %}

    {% block extra_head %}{% endblock %}
</head>
<body class="{% if request.user.is_authenticated %}logged-in{% else %}logged-out{% endif %} {% block bodycls %}{% endblock %}">
    {% block abovepage %}
    {% endblock %}

    <div id="portal-wrapper">
    <div id="primary-nav-container">
        <div id="primary-nav">
            <nav>{% show_menu 0 1 1 1 "cms/primary-navigation.html" %}</nav>
            <div id="accountbox">
                {% if request.user.is_authenticated %}
                    <a class="myaccount" href="{% url userprofiles_profile %}">{{ user.username }}</a>
                    <div id="account-actions">
                        <ul>
                            <li><a href="{% url userprofiles_profile_change %}">Profil ändern</a></li>
                            <li><a href="{% url auth_password_change %}">Passwort ändern</a></li>
                            <li><a href="{% url my_proposals %}">Meine Einreichungen</a></li>
                            {% if request.user.is_staff %}
                            <li><a href="{% url admin:index %}" target="_blank">Admin</a></li>
                            {% endif %}
                            <li><a href="{% url auth_logout %}?next={{ request.path }}">Abmelden</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{% url auth_login %}?next={{ request.path }}">Anmelden</a> | <a href="{% url userprofiles_registration %}">Registrieren</a>
                {% endif %}
            </div>
        </div>
    </div>
    <header>
        <div class="col12 clearfix">
            <div class="grid_12" id="header">
                <div class="header-data"><h1><img src="{{ STATIC_URL }}/images/logo-pycon.png" alt="Leipzig - 29.10-03.11.2012" width="393" height="298"></h1></div>
                <div class="grid_5 alpha" id="news-top">
                    <div class="content">
                        <div class="news-header">
                            <h2>Termine</h2>
                        </div>
                        {% list_events 3 %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="{% block body_class %}{% endblock %}" id="main">
    {% block body_outer %}
        {% if messages %}
        <div class="col12 clearfix">
            <div class="grid_12" id="messages">
                {% for message in messages %}
                <div id="message_{{ forloop.counter }}"{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <section>
            <div class="col12 clearfix" id="content">
                <div class="grid_4"><!-- Sidebar -->
                    {% show_menu 1 1 0 1 "cms/navigation.html" %}
                    {% block sidebar %}
                    {% endblock %}
                </div>
                <div class="grid_8"><!-- Content -->
                    {% block contentwrapper %}
                    <article>
                        <div class="box post">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </article>
                    {% endblock %}
                </div>
            </div>
        </section>

        <div class="clearfix"></div>
    {% endblock %}
    </div>

    <footer>
        <div class="col12 clearfix">
            <div class="grid_12" id="footer">
                {% block footer %}
                <section id="footer-supportpages">
                    <h1>Informationen für</h1>
                    <ul>
                        <li><a href="/teilnehmer/"><i class="icon-share icon-white"></i> Teilnehmer</a></li>
                        <li><a href="/vortragende/"><i class="icon-share icon-white"></i> Vortragende</a></li>
                        <li><a href="/sponsoren/"><i class="icon-share icon-white"></i> Sponsoren</a></li>
                    </ul>
                </section>
                <section id="footer-social">
                    <h1>Hier sind wird noch</h1>
                    <ul>
                        <li><a class="twitter" href="http://twitter.com/pyconde" rel="external"><span>Folge uns auf Twitter</span></a></li>
                        <li><a class="youtube" href="http://www.youtube.com/user/PyConDE" rel="external"><span>PyCon DE-Videos auf YouTube</span></a></li>
                        <li><a class="flickr" href="http://www.flickr.com/groups/pycon-de/" rel="external"><span>Fotos zur Konferenz auf Flickr</span></a></li>
                        <li><a class="lanyrd" href="http://lanyrd.com/2012/pyconde/" rel="external"><span>Und natürlich auch auf Lanyrd</span></a></li>
                    </ul>
                </section>
                <section id="footer-contact">
                    <h1>Kontakt</h1>
                    <p>Falls Sie Fragen zur Konferenz oder allgemein zu Ihrem Aufenthalt haben, können Sie uns über
                        folgende Wege erreichen:</p>
                    <dl>
                        <dt>E-Mail:</dt>
                        <dd><a href="mailto:info@de.pycon.org">info@de.pycon.org</a>
                    </dl>
                    <dl>
                        <dt>IRC</dt>
                        <dd><a href="irc://irc.freenode.net/pyconde">#pyconde</a>
                    </dl>
                    <a href="/impressum/">Impressum</a>
                </section>
                <p id="credits">&copy; 2012 PyCon DE
                    <br />Social icons by <a href="http://paulrobertlloyd.com/2009/06/social_media_icons/">Paul Robert Lloyd</a>
                    <br /><a href="http://glyphicons.com/">glyphicons</a> via <a href="http://twitter.github.com/bootstrap/">bootstrap</a></p>
                {% endblock %}
            </div>
        </div>
    </footer>
    </div>
    <script type="text/javascript">pyconde.init();</script>
    <!--[if lt IE 7 ]>
        <script src="{{ STATIC_URL }}js/libs/dd_belatedpng.js"></script>
        <script>DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images</script>
    <![endif]-->
</body>
</html>
