{% extends "attendees/base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}Tickets für Konferenz und Tutorials{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .form-horizontal fieldset.tickets label { width: 340px; }
        .form-horizontal fieldset.tickets div.controls { margin-left: 360px; }
        .form-horizontal fieldset.tickets select { width: 80px; }
        .form-horizontal fieldset.tickets div.tutorial { display: none; }
        .form-horizontal fieldset.tickets a#showtutorials { text-align:center; font-weight:bold; }
        .form-horizontal fieldset.tickets div.ticketsbottom { padding:10px; text-align:center; font-weight: bold; }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            $('a#showtutorials').click(function(e) {
                e.preventDefault();
                $(this).hide();
                $('fieldset.tickets div.tutorial').fadeIn();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Tickets für Konferenz und Tutorials</h1>

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <fieldset class="tickets">
            <legend>Tickets</legend>
            <p style="padding-top:10px">Wenn Sie <strong>Python im privaten Umfeld</strong> einsetzen oder als Hobby betreiben, ist das <strong>Privat/Hobby-Ticket</strong> richtig für Sie. Arbeiten Sie mit <strong>Python im beruflichen Umfeld</strong> oder zahlt Ihre Firma für Sie, sollten Sie das <strong>Business-Ticket</strong> wählen.</p>
            <p style="padding-bottom:10px">Sind Sie <strong>Student oder Auszubildender</strong>, wählen Sie bitte das <strong>Studenten-Ticket</strong>. Die Anzahl der Studenten-Tickets ist beschränkt. Wenn das Kontingent aufgebrauch ist, gibt es auch für Studenten nur noch Privat/Hobby-Tickets. Die Reihenfolge der Anfragen entscheidet.</p>
            {% if no_tickets_selected %}
                <div class="clearfix control-group error">
                    <span class="help-inline"><strong>Es muss mindestens ein Ticket gekauft werden.</strong></span>
                </div>
            {% endif %}
            {% for quantity_form in quantity_forms %}
                <div id="div_{{ quantity_form.quantity.id }}" class="clearfix control-group{% if quantity_form.ticket_type.tutorial_ticket %} tutorial{% endif %}{% if quantity_form.quantity.errors %} error{% endif %}">
                    <label for="{{ quantity_form.quantity.id }}" class="requiredField">
                        {{ quantity_form.ticket_type }}<span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        {{ quantity_form.quantity }}
                        {% for error in quantity_form.quantity.errors %}
                            <span class="help-inline"><strong>{{ error }}</strong></span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="ticketsbottom">
                <a href="#" id="showtutorials">Um auch Tutorial Tickets zu kaufen, bitte hier klicken!</a>
            </div>
        </fieldset>
        {% crispy form %}
    </form>
    <h2>Weitere Informationen und Bestellhinweise</h2>
    <p>Alle Preise sind inklusive 19% USt. Der Verkauf erfolgt auf Rechnung.</p>
    <p>Ermäßigte Tickets werden gegen Vorlage von Studentenausweis, Ausbildungsbescheinigung o.ä. ausgegeben. Bitte eine Kopie des Dokuments an <a href="mailto:info@de.pycon.org">info@de.pycon.org</a> schicken, um den nötigen Coupon zum Kauf eines ermäßigten Tickets zu erhalten.</p>
    <p>Sollen bestimmte Angaben wie eine Bestellnummer oder die USt-IdNr. des Rechnungsempfängers auf der Rechnung stehen, dies bitte im Feld Bemerkungen bzw. "USt-ID" angeben. Sein Ticket erhält jeder Teilnehmer direkt auf der Konferenz zusammen mit den anderen Tagungsunterlagen am Registrierungsschalter. Gebuchte Tutorials finden unabhängig von der Teilnehmerzahl garantiert statt.</p>
    <h5>Folgende Leistungen erhalten Sie beim Kauf eines Konferenz-Tickets</h5>
    <ul>
        <li>Eintritt zur Konferenz an allen drei Tagen</li>
        <li>Getränke und Snacks in den Pausen</li>
        <li>Mittagsbuffet mit einer vielfältigen Auswahl an veganen, vegetarischen Speisen und Fleischgerichten</li>
        <li>Kostenloser WLAN-Zugang</li>
        <li>Eintritt zur Abendveranstaltung am 6. Oktober</li>
    </ul>
    <br />
    <h5>Folgende Leistungen erhalten Sie beim Kauf eines Tutorial-Tickets</h5>
    <ul>
        <li>Teilnahme am gewählten Tutorial</li>
        <li>Getränke und Snacks in der Pause</li>
        <li>Mittagsbuffet mit einer vielfältigen Auswahl an veganen, vegetarischen Speisen und Fleischgerichten</li>
        <li>Kostenloser WLAN-Zugang</li>
    </ul>
    <br />
    <p>Für die Teilnahme am Barcamp und an den Sprints ist kein Ticket nötig. Falls Sie am Barcamp oder den Sprints teilnehmen möchten, tragen Sie sich bitte auf dem entsprechenden Seiten ein. Die Seiten werden noch bekannt gegeben.</p>
{% endblock %}
