{% extends "attendees/base.html" %}
{% load i18n %}

{% block title %}Tickets für Konferenz und Tutorials{% endblock %}

{% block extra_head %}
    <style type="text/css">
        table { margin-bottom: 20px; }
        table tr { border-bottom: 1px solid #ccc; }
        table tr:last-child { border-bottom: 4px double #ccc; font-weight: bold; }
        table tr:last-child td:first-child { border-right: 0; }
        table td, table th { text-align: left; padding: 5px; }
        table td { border-right: 1px solid #ccc; }
    </style>
{% endblock %}

{% block content %}
    <h1>Tickets für Konferenz und Tutorials</h1>
    <p>Auf dieser Seite haben Sie noch einmal einen Überblick über die bestellten Tickets, die Zuordnung der Tickets zu den Personen, die diese dann in Anspruch nehmen werden und auch die Gesamtkosten sowie die Rechnungsadresse.<br />
    <br />
    Sollten die Angaben nicht korrekt sein, beginnen Sie den Bestellvorgang bitte von vorn.</p>
    <h2>Übersicht der bestellten Tickets</h2>
    <table>
        <thead>
            <th>Ticket</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Preis</th>
        </thead>
        {% for ticket in purchase.ticket_set.all %}
        <tr>
            <td>{{ ticket.ticket_type.name }}</td>
            <td>{{ ticket.first_name }}</td>
            <td>{{ ticket.last_name }}</td>
            <td>{{ ticket.ticket_type.fee|floatformat:2 }} EUR</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3" style="text-align:right">Gesamt:</td>
            <td>{{ purchase.payment_total|floatformat:2 }} EUR</td>
        </tr>
    </table>
    <h2>Rechnungsadresse</h2>
    <p>
    {% filter linebreaksbr %}{{ purchase.company_name }}
        {{ purchase.first_name }} {{ purchase.last_name }}
        {{ purchase.street }}
        {{ purchase.zip_code }} {{ purchase.city }}
        {{ purchase.country }}
    {% endfilter %}
    </p>
    <p>Wenn alle Angaben korrekt sind, klicken Sie bitte auf den Button "Bestellung abschließen" um die Daten zu speichern.
    Sie erhalten eine Bestellbestätigung per E-Mail.</p>
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-actions">
            <input type="submit" name="submit" value="Bestellung abschließen" class="submit" id="submit-id-submit">
        </div>
    </form>
{% endblock %}
